.DS_Store
execute/*.class
.idea
codeforces_script.iml
target
node_modules
.gradle
.vscode
*.class
META-INF/


# scala
# Ignore everything in interviews/scala3_
interviews/scala3_/*
interviews/scala3_/**
# Allow .scala and .sc files (recursively)
!interviews/scala3_/**/*.scala
!interviews/scala3_/**/*.sc
build