name: Build and Run C and C++ Combined File 

on:
  push:
    branches:
      - cpp_

jobs:
  build-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build C and C++ part
        run: |
          gcc -DBUILD_AS_C -xc combo.cpp -o combo_c.o -c
          echo "C part compiled successfully."
          g++ combo.cpp combo_c.o -o runme
          echo "C++ part compiled successfully."

      - name: Run executable
        run: |
          ./runme
