name: Build and Run Kotlin

on:
  push:
    branches:
      - kotlin_

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2


      - name: Install Kotlin
        run: |
        
          # Create the Gradle project structure (if not already there)
          mkdir gradle_inline && cd gradle_inline
          gradle init --type basic

          # Overwrite build.gradle.kts with our inline shell runner
          cat > build.gradle.kts <<'EOF'
          tasks.register<Exec>("runShellInline") {
              commandLine("bash", "-c", "echo $((42*42))")
          }
          EOF

          # Run the task
          gradle -q runShellInline


          curl -s https://get.sdkman.io | bash
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk install kotlin
          sdk install kscript
          kotlin -version

          # chmod +x hello.kts
          # ./hello.kts

      - name: Compile Kotlin Code
        run: |
          kotlinc src/main/kotlin/com/example/Main.kt -include-runtime -d Main.jar
          kotlinc src/main/kotlin/com/example/Subs.kt -include-runtime -d Subs.jar
          kotlinc src/main/kotlin/com/example/java_inMemory_inKotlin.kt -include-runtime -d java_inMemory_inKotlin.jar
          kotlinc src/main/kotlin/com/example/cpp_Java_inMemory_inKotlin.kt -include-runtime -d cpp_Java_inMemory_inKotlin.jar
          kotlinc src/main/kotlin/com/example/cpp_inJava_inMemory_inKotlin.kt -include-runtime -d cpp_inJava_inMemory_inKotlin.jar



      - name: Run Kotlin Application
        run: |
          cd interviews/kotlin_
          kotlinc -script leetcode.kts

          chmod +x execution.sh
          ./execution.sh

          cd ../..
          java -jar Main.jar
          java -jar Subs.jar
          java -jar java_inMemory_inKotlin.jar 
          java -jar cpp_Java_inMemory_inKotlin.jar
          java -jar cpp_inJava_inMemory_inKotlin.jar


          echo 'print(245)' | kotlin -Xrepl
          echo 'print(2454)' | kotlinc -Xrepl


      - name: Install Kotlin Native
        run: |
          curl -L https://github.com/JetBrains/kotlin/releases/download/v2.2.0/kotlin-native-prebuilt-linux-x86_64-2.2.0.tar.gz -o kotlin-native.tar.gz
          tar -xzf kotlin-native.tar.gz
          sudo mv kotlin-native-* /opt/kotlin-native
          sudo ln -s /opt/kotlin-native/bin/* /usr/local/bin/
          kotlinc-native -version

      - name: Kotlin Native
        run: |
          echo 'fun main() { println("Hello from Kotlin Native!") }' > native.kt
          kotlinc-native native.kt -o native-app
          ./native-app.kexe
