name: Kotlin Version Check

on:
  push:
    branches: [ kotlin_ ]

jobs:
  check-kotlin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Kotlin version
        run: |
          kotlin -version
          kotlinc -version

      - name: Compile Kotlin Code
        run: |
          kotlinc src/main/kotlin/com/example/Main.kt -include-runtime -d Main.jar
          kotlinc src/main/kotlin/com/example/Subs.kt -include-runtime -d Subs.jar
          kotlinc src/main/kotlin/com/example/java_inMemory_inKotlin.kt -include-runtime -d java_inMemory_inKotlin.jar
          kotlinc src/main/kotlin/com/example/cpp_Java_inMemory_inKotlin.kt -include-runtime -d cpp_Java_inMemory_inKotlin.jar
          kotlinc src/main/kotlin/com/example/cpp_inJava_inMemory_inKotlin.kt -include-runtime -d cpp_inJava_inMemory_inKotlin.jar


      - name: Run Kotlin Application
        run: |
          cd interviews/kotlin_
          kotlinc -script leetcode.kts

          chmod +x execution.sh
          ./execution.sh

          cd ../..
          java -jar Main.jar
          java -jar Subs.jar
          java -jar java_inMemory_inKotlin.jar 
          java -jar cpp_Java_inMemory_inKotlin.jar
          java -jar cpp_inJava_inMemory_inKotlin.jar


          echo 'print(245)' | kotlin -Xrepl
          echo 'print(2454)' | kotlinc -Xrepl
          kotlin -e "print(245400)"

      - name: Run Kotlin Application again
        run: |
          cd interviews/kotlin_
          kotlin leetcode.kts