name: Build and Run Scala virtuslab
on:
  push:
    branches:
      - kotlin_
  pull_request:
    branches:
      - kotlin_
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Scala CLI
        uses: VirtusLab/scala-cli-setup@v1

      - name: Check versions
        run: |
          echo "Scala CLI version:"
          scala-cli --version

      - name: Scala 2.13.12 test run
        run: |
            cd interviews/scala2_
            
            ############################################ scala-cli && scala-cli repl && scala-cli --scala -e ############################################
            scala-cli run Hello1.scala
            scala-cli run Hello2.scala
            scala-cli repl <<EOF
            val greeting = "Hello, REPL!"
            println(greeting)
            val numbers = List(1, 2, 3)
            val sum = numbers.sum
            println(s"The sum of numbers is: $sum")
            EOF

            scala-cli --scala 2.13.12 -e "println(42 + 1)"


      - name: Scala 3.3.1 test run
        run: |
            cd interviews/scala3_

            ############################################ scala-cli && scala-cli repl && scala-cli --scala -e ############################################
            scala-cli run Hello.scala
            scala-cli run Hello1.scala
            scala-cli run Hello2.scala

            scala-cli repl <<EOF
            val greeting = "Hello, REPL!"
            println(greeting)
            val numbers = List(1, 2, 3)
            val sum = numbers.sum
            println(s"The sum of numbers is: $sum")
            EOF

            scala-cli --scala 3.3.1 -e "println(42 + 1)"

